:root{
    --primary-color: #172e62;
    --secondary-color: #f5f5f5;
    --tertiary-color: #ef5122;
    --text-color: #afb4bc;

    /* font sizez */
    --fs-h1: 2.5rem;
    --fs-h2:2rem;
    --fs-h3:1.5rem;
    --fs-t: 1rem;
    --fs-st:0.5rem;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

img, video{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.home{
    max-width: 100%;
}

/* Hero Section */
.hero-section{
    max-width: 100%;
    height: 95vh;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.hero__content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.hero__content-wrapper p:first-child{
    text-transform: uppercase;
    font-size: var(--fs-h3);
    color: var(--tertiary-color);
}

.hero__content-wrapper h1{
    font-size: var(--fs-h1);
    color: var(--primary-color);
}

.hero__content-wrapper p:last-of-type{
    text-align: justify;
    font-size: var(--fs-t);
    color: var(--text-color);
}

.hero__content-wrapper a{
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary-color);
    font-size: var(--fs-t);
    font-weight: bold;
    border: 2px solid var(--tertiary-color);
    border-radius: 5px;
}

.hero__content-wrapper a::after{
    content: "";
    width: 20px;
    height: 20px;
    background: url("../assets/read-more.svg") center;
    margin-left: 5px;
}
/* About Section */

.about-section{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.about__content-wrapper{
    max-width: 100%;
    padding: 0.75rem;
}

.about__content-wrapper h2, .about__content-wrapper p, .about__content-wrapper a{
    margin-bottom: 0.75rem;
}

.about__content-wrapper h2{
    color: var(--primary-color);
    font-size: var(--fs-sh);
}
.about__content-wrapper p{
    max-width: 100%;
    text-align: justify;
    font-size: var(--fs-t);
}

.about__content-wrapper a{
    width: 130px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary-color);
    border: 1.5px solid var(--tertiary-color);
    border-radius: 5px;
}

.about__content-wrapper a::after{
    content: "";
    width: 20px;
    height: 20px;
    margin-left: 2.5px;
    background:url("../assets/read-more.svg") center;
}

/* Feature Section  */

.features-section{
    max-width: 100%;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

.section-title{
    text-align: center;
    margin: 1rem;
    color: var(--secondary-color);
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Contact Page */
.contact{
    max-width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.map-wrapper{
    max-width: 100%;
    height: 200px;
}
.map-wrapper iframe{
    max-width: 100%;
    height: 100%;
    border-radius: 5px;

}
