:root{
    --primary-color:#c5f4fe;
    --secondary-color:#0379c4;
    --tertiary-color:#ffffff;
    --text-color:#213d7c;
    --cta-color: #ef5122;
}

*, *::after, *::after{
margin: 0;
padding: 0;
box-sizing: border-box;
line-height: 1.5;
}

img, video{
    max-width: 100%;
    object-fit: contain;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
 font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
background-color: var(--primary-color);
}

/* Home Page */
.home{
    max-width: 100%;
 
}

/* Hero Section */
.hero-section{
    width: 100%;
    height: 90vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  
}

.content-container{
    flex: 0 0 60%;
   max-width: 100%;
    height: 100%;
    padding: 10rem;
    display: flex;
    flex-direction: column;
   justify-content: center;
   gap: 1.5rem;
}

.content-container h1{
    font-size: 3rem;
    color: var(--text-color);
}

.content-container p{
    font-size: 1.5rem;
}

.image-wrapper{
    flex: 0 0 40%;
    max-width: 100%;
    height: 100%;  
}

.image-wrapper img{
   max-width: 100%;
    height: 100%;

}

.link-wrapper{
    display: flex;
    gap: 2rem;
}

.links{
  display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: center;
     border: none;
    border-radius: 5px;
    font-size: 1.25rem;
}

.primary{
    width: 225px;
    height: 40px;
      cursor: pointer;
     color: var(--tertiary-color);
    background-color: var(--secondary-color);
   
}

.primary:hover{
   background-color: var(--cta-color);
}

.secondary{
    width: 300px;
    height: 40px;
    border: none;
      cursor: pointer;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);  
}

.secondary:hover{
    background-color: var(--cta-color);
    color: var(--tertiary-color);
}

/* Feature Section */

.feature-section{
    max-width: 100%;
    padding: 2rem;
    display: flex;
    margin: 0 1rem;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--tertiary-color);
    border-top-left-radius:8px;
    border-top-right-radius: 8px;
}

.list-wrapper{
    width: 100%;
    display: flex;
    gap: 10rem;
}

.list-wrapper ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list-wrapper img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

/* Destination Section */
.destination-section{
   max-width: 100%;
    margin: 0 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--tertiary-color);
}

.card-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

/* Preparation Section */
.preparation-section{
    max-width: 100%;
    margin: 0 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: var(--tertiary-color);
}

.preparation-section h3
{
    color: var(--text-color);
}

.classcard-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

/* Service Section */
.service-section{
    max-width: 100%;
    margin: 0 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--tertiary-color);
}

.card-holder{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


