:root{
    --primary-color:#c5f4fe;
    --secondary-color:#0379c4;
    --tertiary-color:#ffffff;
    --text-color:#213d7c;
    --cta-color: #ef5122;
}

*, *::after, *::after{
margin: 0;
padding: 0;
box-sizing: border-box;
line-height: 1.5;
}

img, video{
    max-width: 100%;
    object-fit: contain;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
 font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
background-color: var(--primary-color);
}

/* Home Page */
.home{
    max-width: 100%;
    display: flex;
    flex-direction: column;
 
}

/* Hero Section */
.hero-section{
    width: 100%;
    height: 90vh;
    display: flex;
    /* overflow: hidden; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
  
}

.content-container{
    flex: 0 0 60%;
   max-width: 100%;
    height: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
   justify-content: center;
   gap: 1.5rem;
}

.content-container h1{
    font-size: 3rem;
    color: var(--text-color);
}

.content-container p{
    font-size: 1.5rem;
}

.image-wrapper{
    max-width: 100%;
    max-height: 50vh;  
}

.image-wrapper img{
   max-width: 100%;
    height: 100%;

}

.link-wrapper{
    display: flex;
    gap: 2rem;
}

.links{
  display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: center;
     border: none;
    border-radius: 5px;
    font-size: 1.25rem;
}

.primary{
    width: 225px;
    height: 40px;
      cursor: pointer;
     color: var(--tertiary-color);
    background-color: var(--secondary-color);
   
}

.primary:hover{
   background-color: var(--cta-color);
}

.secondary{
    width: 300px;
    height: 40px;
    border: none;
      cursor: pointer;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);  
}

.secondary:hover{
    background-color: var(--cta-color);
    color: var(--tertiary-color);
}

/* Feature Section */

.feature-section{
    max-width: 100%;
    padding: 2rem;
    display: flex;
    margin: 0 1rem;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--text-color);
    border-top-left-radius:8px;
    border-top-right-radius: 8px;
}

.feature-section h2{
    margin-left: 1rem;
    color: var(--tertiary-color);
}

.list-wrapper{
    width: 100%;
    display: flex;
    gap: 10rem;
}

.list-wrapper ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--tertiary-color);
}

.list-wrapper img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

/* Destination Section */
.destination-section{
   max-width: 100%;
    margin: 0 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--text-color);
}
.destination-section h2{
    margin-left: 1rem;
    color: var(--tertiary-color);
}

.card-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

/* Preparation Section */
.preparation-section{
    max-width: 100%;
    margin: 1rem 1rem 0 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: var(--tertiary-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.preparation-section h2{
    color: var(--text-color);
}

.preparation-section h3
{
    color: var(--text-color);
}

.classcard-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

/* Service Section */
.service-section{
    max-width: 100%;
    margin: 0 1rem 1rem 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--tertiary-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 5px;
}

.service-section h2{
    color: var(--text-color);
}

.card-holder{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* About Page */
.about{
    max-width: 100%;
    padding: 2rem;
}

.about__content-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.about__content-section h2{
    color: var(--text-color);
}

.section__image-wrapper{
    width: 50%;
}

.section__content-wrapper{
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section__content-wrapper p{
    text-align: justify;
}

/* AbroadStudy Page */
.choice-country{
    max-width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.choice__title-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.choice__title-wrapper img{
    width: 40px;
    height: 40px;
}

.choice__content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.choice__content-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.choice__content-section p{
    text-align: justify;
}

.choice__content-section ul{
    list-style: square;
    padding: 0 1rem;
}

/* Contact Page */
.contact{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--tertiary-color);
}

.contact__form-wrapper{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.contact__image-wrapper{
    width: 50%;
    height: auto;
}
.contact__image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.contact__map-wrapper{
    max-width: 100%;
    height: 200px;
    padding: 2rem;
}

.contact__map-wrapper iframe{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


/* Services Page */

.services{
    max-width: 100%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
}

.services h2{
    color: var(--text-color);
    text-align: center;
}

.services div{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.services h3, .services h4{
    color: var(--text-color);
}

.services div>p:first-of-type{
    font-size: 14px;
    color: var(--cta-color);
}

.services div>p:last-of-type{
    text-align: justify;
}

.services div>ul{
    font-size: 14px;
    list-style: square;
    margin-left: 1.5rem;
}


/* Counselling */

.counselling{
    max-width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--tertiary-color);
}

.counselling__content-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.counselling__content-wrapper h2{
    color: var(--text-color);
}

.counselling__content-wrapper p{
    text-align: justify;
}

.counselling__content-wrapper h3{
    color: var(--text-color);
}

.counselling__content-wrapper ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    list-style: square;
    gap: 0.5rem;
}

/* Courses Page */
.courses{
    max-width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.courses div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.courses__section-one h2{
    text-align: center;
    color: var(--text-color);
}

.courses div>h3{
    color: var(--text-color);
}

.courses div>p{
    text-align: justify;
}

dl{
    padding: 0.5rem;
}

dt{
    color: var(--secondary-color);
    font-weight: bold;
}

dd{
    text-align: justify;
}


