:root {
    --primary-color: #c5f4fe;
    --secondary-color: #0379c4;
    --tertiary-color: #ffffff;
    --text-color: #213d7c;
    --cta-color: #ef5122;

}

.header{
    max-width: 100%;
    height: 7rem;
}

.header__media-wrapper{
    max-width: 100%;
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--text-color);
}

.header__media-wrapper ul{
    display: flex;
    gap: 1rem;
}

.header__media-wrapper img{
    width: 24px;
    height: 24px;
}

.navbar{
    max-width: 100%;
    height: 4rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tertiary-color);
}

.navbar__logo{
    width: 120px;
}

.navbar__barmenu{
    width: 35px;
    height: 35px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.bar{
    width: 90%;
    height: 4px;
      border: 1.5px solid var(--text-color);
    border-radius: 5px;
}
.navbar__links-wrapper{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.navbar__links-wrapper>ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.navbar__links a{
    text-decoration: none;
    color: var(--text-color);
}

.navbar__links a:hover{
    color: var(--cta-color);
}
.country-list{
    position: relative;
}
.country-list:hover::after{
    content: "";
    display: inline-flex;
    width: 14px;
    height: 12px;
    background: url("../assets/read-more.svg") center;
    margin-left: 2px;
}

 .submenu{
     padding: 1rem 2rem;
     display: none;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     position: absolute;
   top: 7.5rem;
   background-color: var(--tertiary-color);
}

.submenu-open{
    display: flex;
}
.contact-link{
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cta-color);
    color: var(--tertiary-color);
    font-weight: bold;
    border-radius: 5px;
}

.contact-link:hover{
    background-color: var(--tertiary-color);
    color: var(--cta-color);
    border: 1.5px solid var(--cta-color);
}

/* Country Card */
.country-card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid rgb(255, 255, 255,0.7);
    border-radius: 5px;
    box-shadow:
        0 2px 8px rgba(0, 0, 0, 0.06),
        0 4px 16px rgba(0, 0, 0, 0.08);
    padding: 20px;
}

.country-card:hover{
    transform: scale(1.05);
}

.title-wrapper {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.title-wrapper img {
    max-width: 40%;
    height: auto;
    border-radius: 3px;
}

.title-wrapper h3 {
    color: var(--tertiary-color);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.content-wrapper ul {
    padding: 0 1rem;
    font-size: 14px;
    color: var(--primary-color);
}

.content-wrapper a {
    display: flex;
    align-items: center;
    color: var(--tertiary-color);
}

.content-wrapper a:hover{
    color: var(--cta-color);
}

.content-wrapper a:hover::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../assets/read-more.svg") center/contain no-repeat;
    margin-left: 3px;
}

/* Class Card */
.course-card {
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow:
        0 2px 8px rgba(0, 0, 0, 0.06),
        0 4px 16px rgba(0, 0, 0, 0.08);
    padding: 20px;
}

.course-card:hover{
    transform: translateX(5px) translateY(-5px) scale(1.05);
}

.header-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.header-wrapper img{
    width: 24px;
    height: 24px;
}

.course-card a{
    font-size: 14px;
    color: var(--text-color);
}

.class-card a:hover{
    color: var(--cta-color);
}

/* Service Card */

.service-card{
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    gap: 0.5rem;
    box-shadow:
        0 2px 8px rgba(0, 0, 0, 0.06),
        0 4px 16px rgba(0, 0, 0, 0.08);
    padding: 20px;

}
.service-card:hover{
    transform: translateY(-3px) scale(1.05);
}



.service-card>div{
    display: flex;
    gap: 1rem;
}

.service-card img{
    width: 30%;
    height: auto;
}

.service-card h4{
    color: var(--text-color);
}

.service-card>a{
    font-size: 14px;
}
.service-card>a:hover{
    color: var(--cta-color);
}

/* Footer Section */

.footer{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--text-color);
}

.footer__content-wrapper{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.footer__content-wrapper div{
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    gap: 0.5rem;
}

.footer__content-wrapper h4{
    color: var(--tertiary-color);
}

.content__section-one>img{
    width: 150px;
    height: auto;
    margin: auto;
    background: #ffffff;
}

.content__section-one p{
    color:var(--primary-color);
}

.content__section-one ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.content__section-one a>img{
    width: 24px;
    height: 24px;
}

.content__section-two li>img{
   width: 16px;
   height: 16px;
   margin-right: 5px;
}

.footer a{
    color: var(--primary-color);
}

hr{
    width: 95%;
    margin: auto;
}
.footer__policies{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
}

.footer__policies ul{
    display: flex;
    gap: 1.5rem;
    font-size: 14px;
}

.footer__policies p{
     font-size: 14px;
}

/* Contact Form */
.contact-form{
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--tertiary-color);
    border-radius: 5px;
    box-shadow:
        0 2px 8px rgba(0, 0, 0, 0.06),
        0 4px 16px rgba(0, 0, 0, 0.08);
}

.contact-form h2{
    text-align: center;
    color: var(--text-color);
}

.form__section{
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__section label{
    font-size: 14px;
}

.form__section input{
    width: 100%;
    height: 35px;
    padding: 0 1rem;
    border: none;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.form__section p{
    font-size: 12px;
    color: var(--cta-color);
    display: none;
}

.form__section textarea{
    width: 100%;
    height: 120px;
    padding: 1rem;
    resize: none;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.contact-form input[type="submit"]{
    width: 95%;
    height: 35px;
    margin: auto;
    background: transparent;
    font-weight: bold;
    color: var(--text-color);
    border: 1.5px solid var(--text-color);
    border-radius: 5px;
}

.contact-form input[type="submit"]:hover{
border-color: var(--cta-color);
color: var(--cta-color);
}

/* New Hero */

.hero{
    max-width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
}

.hero__content-wrapper{
    width: 60%;
    height: 100%;
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.hero__content-wrapper h1{
    color: var(--text-color);
    font-size: 3rem;
}

.hero__content-wrapper p{
    font-size: 1.25rem;
}

.hero__links-wrapper{
    display: flex;
    gap: 2rem;
}

.hero__links-wrapper a{
    height: 40px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.primary-link{
    font-weight: bold;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}

.primary-link:hover{
    background-color: var(--cta-color);
    transform: scale(1.05);
}

.secondary-link{
    font-weight: bold;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
}

.secondary-link:hover{
    color: var(--cta-color);
    transform: scale(1.05);
}

.hero__image-wrapper{
    width: 40%;
    height: 100%;
}

.hero__image-wrapper img{
    width: 100%;
    height: 100%;
}
