:root {
    --primary-color: #c5f4fe;
    --secondary-color: #0379c4;
    --tertiary-color: #ffffff;
    --text-color: #213d7c;
    --cta-color: #ef5122;

}

.header {
    max-width: 100%;
    height: 5rem;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tertiary-color);
}

.header__logo {
    width: 120px;
    height: auto;
}

.header__barmenu {
    width: 40px;
    height: 40px;
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1.5px solid var(--text-color);
    border-radius: 5px;
}

.bar {
    width: 90%;
    height: 5px;
    border: 1.5px solid var(--text-color);
    border-radius: 5px;
}

.header__links-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__links-wrapper ul {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text-color);
    gap: 1rem;
}

.link a:hover{
    color: var(--cta-color);
}
.contact-link {
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--tertiary-color);
    background: var(--cta-color);
    border-radius: 5px;
}

.contact-link:hover{
    background-color: var(--tertiary-color);
    color: var(--cta-color);
}

/* Country Card */
.country-card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow:
        0 2px 8px rgba(0, 0, 0, 0.06),
        0 4px 16px rgba(0, 0, 0, 0.08);
    padding: 20px;
}


.title-wrapper {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.title-wrapper img {
    width: 40%;
    height: auto;
    border-radius: 3px;
}

.title-wrapper h3 {
    color: var(--text-color);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.content-wrapper ul {
    font-size: 14px;
}

.content-wrapper a {
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.content-wrapper a:hover{
    color: var(--cta-color);
}

.content-wrapper a:hover::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../assets/read-more.svg") center/contain no-repeat;
    margin-left: 3px;
}

/* Class Card */
.class-card {
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow:
        0 2px 8px rgba(0, 0, 0, 0.06),
        0 4px 16px rgba(0, 0, 0, 0.08);
    padding: 20px;
}

.header-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.header-wrapper img{
    width: 24px;
    height: 24px;
}

.class-card a{
    font-size: 14px;
    color: var(--text-color);
}

.class-card a:hover{
    color: var(--cta-color);
}

/* Service Card */

.service-card{
    width: 200px;
    height: 100px;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    gap: 0.5rem;
    box-shadow:
        0 2px 8px rgba(0, 0, 0, 0.06),
        0 4px 16px rgba(0, 0, 0, 0.08);
    padding: 20px;

}

.service-card img{
    width: 50%;
    height: 100%;
}

.service-card h3{
    color: var(--text-color);
}

.footer{
    max-width: 100%;
    height: 2.55rem;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: var(--primary-color);
}

.footer p{
    font-size: 14px;
}