:root{
    --primary-color: #172e62;
    --secondary-color: #bfbbbb;
    --tertiary-color: #ef5122;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul{
    list-style: none;
    line-height: 1.5;
}
a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    border-bottom: 3px solid var(--tertiary-color);
}

.footer{
    width: 100%;
    padding-top: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-top: 1px solid black;
}

.footer h4{
    color: var(--tertiary-color);
}

.footer div{
    display: flex;
    gap: 10px;
}

.footer__content{
    justify-content: space-evenly;
}

.footer__content div:first-child, .footer__content div:nth-child(2), .footer__content div:nth-child(3)  {
    padding: 10px;
    border-right: 1.5px dotted silver;
}

.footer__content div:first-child{
    flex-direction: column;
}

.footer__content div:first-child p{
    font-size: 14px;
}
.subscribe__form{
    display: flex;
    gap:5px;
}

.subscribe__form input{
    width: 200px;
    height: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.subscribe__form button{
    width: 80px;
    font-weight: bold;
    border: none;
    background: transparent;
    color: var(--tertiary-color);
    border: 1.5px solid var(--tertiary-color);
    border-radius: 5px;
}
.contact-icon{
    width: 14px;
    height: 14px;
    margin-right: 2.5px;
}

.footer__content div:last-child{
    flex-direction: column;
}

.footer__logo{
    width: 350px;
    height: 100px;
    object-fit: fill;
}

.footer__content div:last-child p{
    text-align: justify;
}

.footer__content div:last-child ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px
}

hr{
    width: 98%;
    margin: 10px auto;
    border: 1px solid var(--secondary-color);
}

.footer__policies{
    width: 100%;
    padding:20px;
    align-items: center;
    justify-content: space-between;
    font-size: small;
}

.footer__policies ul{
    display: flex;
    gap: 10px;
}

@media (max-width:480px) {
.footer{
    width: 100%;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    border: 1px solid blue;
}

.footer div{
    width: 100%;
    display: flex;
    gap: 10px;
}
.footer__content{
flex-direction: column;
}

.footer__content div{
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.subscribe__form{
    display: flex;
    gap: 5px;
}
.contact-icon{
    width: 14px;
    height: 14px;
    margin-right: 3px;
}

.footer__logo{
    width: 350px;
    height: 100px;
    object-fit: contain;
}

.footer__content div:last-child ul{
    display: flex;
    gap: 15px;
    align-items: center;
}

hr{
    width: 98%;
    margin: 15px auto;
    border: 1px solid var(--secondary-color);

}

.footer__policies{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.footer__policies ul,a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
}