@media (max-width:480px) {
    .header{
        max-width: 100%;
        height: 7rem;
    }
    .header__media-wrapper{
        max-width: 100% ;
        justify-content: center;
    }

    .navbar{
        max-width: 100%;
        display: flex;
    }

    .navbar__barmenu{
        display: flex;
        overflow: hidden;
    }

    .bar{
           transition: all 0.5s;
    }

   .one{
    transform: translateY(10px) rotate(45deg);
   }
   .two{
    transform: translateX(110%);
   }
   .three{
    transform: translateY(-10px) rotate(-45deg);
   }

   .navbar__links-wrapper{
    width: 100%;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    top: -120%;
    left: 0;
    gap: 1rem;
    background-color: white;
    transition: all 0.5s;
   }

   .open{
    top: 7rem;
    z-index: 3;
    border-top: 1.5px solid navy;
   }

   .navbar__links{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
   }

   .submenu{
    position: unset;
   }
   .contact-link{
    margin: 0 auto;
   }

/* Hero Section */
   .hero{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero__content-wrapper{
    width: 100%;
   padding: 2rem 1rem;
   line-height: 1.5;
   align-items: center;
}

.hero__content-wrapper h1{
    font-size: 2rem;
    text-align: center;
    
}
.hero__content-wrapper p{
    text-align: justify;
    font-size: 1.25rem;
}

.hero__links-wrapper{
    flex-direction: column;
}

.hero__image-wrapper{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.hero__links-wrapper{
    gap: 1.5rem;
}
/* Feature Section */
.feature-section{
    max-width: 100%;
    height: max-content;
}

.list-wrapper{
    width: 100%;
    gap: 1rem;
}
/* Destinatino Section */
.destination-section{
    max-width: 100%;
}
.country-card{
    width: 100%;
    gap: 1rem;
}
.title-wrapper{
    width: 100%;
    gap: 2rem;
}
.card-wrapper{
    flex-direction: column;
}
/* Preparation Section */
.preparation-section{
  max-width: 100%;
  align-items: center;
}

.class-card{
    width: 100%;
}
.classcard-wrapper{
    flex-direction: column;
}
/* Service Section */
.service-section{
    max-width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-card{
    width: 300px;
}
.card-holder{
    max-width: 100px;
    flex-direction: column;
    gap: 1rem;
}

/* Footer Section */
.footer{
    max-width: 100%;
}

.footer__content-wrapper{
    display: flex;
    flex-direction: column;
}

.footer__content-wrapper div{
    flex-direction: column;
    align-items: center;
}

.footer__policies{
    flex-direction: column;
    gap: 0.5rem;
}

/* Contact Page */

.contact__form-wrapper{
    flex-direction: column;
    gap: 1rem;
}

.contact__image-wrapper{
    width: 100%;
}

.contact__image-wrapper img{
    border-radius: 8px;
}

.contact-form{
    width: 100%;
}
/* About Page */
.about{
    max-width: 100%;
    display: flex;
}

.about__content-section{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section__image-wrapper{
    width: 100%;
}

.section__image-wrapper{
    width: 100%;
    height: 100%;
}

.section__content-wrapper{
    width: 100%;
    padding: 0.5rem;
}

.section__content-wrapper h2{
    color: navy;
}

/* Counselling Page*/
.counselling{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.counselling__content-wrapper{
    width: 100%;
}

/* Service Page */
.services{
    max-width: 100%;
    padding: 1rem;
}

.services>div{
    width: 100%;
    padding: 0.5rem;
}

}

/* Carousel Section */

.previous{
    left: 1rem;
}

.next{
    right: 1rem;
}
